
            <!-- Breadcrumb -->

            <div class="breadcrumb-area bg-color-black position-relative z-index-one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-info text-center">
                                <h1>FAQ</h1>
                                <p>
                                    <a href="/">Home</a>
                                    <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 13C1.71875 13 1.46875 12.9062 1.28125 12.7188C0.875 12.3438 0.875 11.6875 1.28125 11.3125L5.5625 7L1.28125 2.71875C0.875 2.34375 0.875 1.6875 1.28125 1.3125C1.65625 0.90625 2.3125 0.90625 2.6875 1.3125L7.6875 6.3125C8.09375 6.6875 8.09375 7.34375 7.6875 7.71875L2.6875 12.7188C2.5 12.9062 2.25 13 2 13Z" fill="currentColor"/>
                                    </svg>
                                    FAQ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
				<img class="position-absolute z-index-minus-one start-0 bottom-0" src="assets/images/shape/breadcrumb-sp.png" alt="">
            </div>

            <!-- Breadcrumb End -->


            <!-- Faq -->

            <div class="faq-area-wrap pt-120 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="section-title">
                                <span>Popular question</span>
                                <h2>Frequently asked question</h2>
                            </div>
                            <div class="faq-wrap mt-60">
                                <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Morbid et partition ex. Fusee nibs ligula?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo. Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Maurist ullamcorper, risus eger elided accusant?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo. Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Iquique varies a solicitude nullo consequent ut?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo. Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Donee vivaria sem vel commode mattie. Sed vel purus at maurist?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo. Pellentesque habitant morbid critique selectus et net's et aalesund fames ac turpin egesta. Donee accusal sapiens augur, pulvinate minibus nullo sagittal at. Sed egesta augur eger lucius pianissimo.
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mobt-35">
                            <form id="contact-form" action="mail.php" method="POST" class="contact-input contact-input-sidebar position-relative">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="text"  placeholder="Your Name">
                                    </div>
                                    <div class="col-12">
                                        <input type="email" placeholder="Your Mail">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" id="message" cols="30" rows="3" placeholder="Your Question"></textarea>
                                    </div>
                                    <div class="contact-btn-wrap">
                                        <button type="submit" class="common-btn hover-black border-0">
                                            <span>
											Learn More
											<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.6875 7.71875L8.6875 12.7188C8.3125 13.125 7.65625 13.125 7.28125 12.7188C6.875 12.3438 6.875 11.6875 7.28125 11.3125L10.5625 8H1C0.4375 8 0 7.5625 0 7C0 6.46875 0.4375 6 1 6H10.5625L7.28125 2.71875C6.875 2.34375 6.875 1.6875 7.28125 1.3125C7.65625 0.90625 8.3125 0.90625 8.6875 1.3125L13.6875 6.3125C14.0938 6.6875 14.0938 7.34375 13.6875 7.71875Z" fill="currentColor"></path>
											</svg>
                                            </span>
                                        </button>
                                    </div>
                                    <p class="form-message"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Faq End -->
