
           <!-- Breadcrumb -->

            <div class="breadcrumb-area bg-color-black position-relative z-index-one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-info text-center">
                                <h1>Project</h1>
                                <p>
                                    <a href="index.html">Home</a>
                                    <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 13C1.71875 13 1.46875 12.9062 1.28125 12.7188C0.875 12.3438 0.875 11.6875 1.28125 11.3125L5.5625 7L1.28125 2.71875C0.875 2.34375 0.875 1.6875 1.28125 1.3125C1.65625 0.90625 2.3125 0.90625 2.6875 1.3125L7.6875 6.3125C8.09375 6.6875 8.09375 7.34375 7.6875 7.71875L2.6875 12.7188C2.5 12.9062 2.25 13 2 13Z" fill="currentColor"/>
                                    </svg>
                                    Project
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
				<img class="position-absolute z-index-minus-one start-0 bottom-0" src="assets/images/shape/breadcrumb-sp.png" alt="">
            </div>

            <!-- Breadcrumb End -->


            <!-- Project -->

            <section class="project-area pt-120 pb-96">
                <div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="project-img-wrap style-two position-relative z-index-one">
								<img class="w-100" src="assets/images/project/project-page-1.png" alt="">
                                <div class="project-hover-info d-flex flex-wrap justify-content-between w-100 position-absolute align-items-center">
                                    <h2 class="me-3">Revolutionizing Business Models</h2>
                                    <a class="flex-shrink-0 project-link d-flex justify-content-center align-items-center" href="project-details.html">
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7422 7.71875L8.74219 12.7188C8.36719 13.125 7.71094 13.125 7.33594 12.7188C6.92969 12.3438 6.92969 11.6875 7.33594 11.3125L10.6172 8H1.05469C0.492188 8 0.0546875 7.5625 0.0546875 7C0.0546875 6.46875 0.492188 6 1.05469 6H10.6172L7.33594 2.71875C6.92969 2.34375 6.92969 1.6875 7.33594 1.3125C7.71094 0.90625 8.36719 0.90625 8.74219 1.3125L13.7422 6.3125C14.1484 6.6875 14.1484 7.34375 13.7422 7.71875Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="project-img-wrap style-two position-relative z-index-one">
								<img class="w-100" src="assets/images/project/project-page-2.png" alt="">
                                <div class="project-hover-info d-flex flex-wrap justify-content-between w-100 position-absolute align-items-center">
                                    <h2 class="me-3">Revolutionizing Business Models</h2>
                                    <a class="flex-shrink-0 project-link d-flex justify-content-center align-items-center" href="project-details.html">
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7422 7.71875L8.74219 12.7188C8.36719 13.125 7.71094 13.125 7.33594 12.7188C6.92969 12.3438 6.92969 11.6875 7.33594 11.3125L10.6172 8H1.05469C0.492188 8 0.0546875 7.5625 0.0546875 7C0.0546875 6.46875 0.492188 6 1.05469 6H10.6172L7.33594 2.71875C6.92969 2.34375 6.92969 1.6875 7.33594 1.3125C7.71094 0.90625 8.36719 0.90625 8.74219 1.3125L13.7422 6.3125C14.1484 6.6875 14.1484 7.34375 13.7422 7.71875Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="project-img-wrap style-two position-relative z-index-one">
								<img class="w-100" src="assets/images/project/project-page-3.png" alt="">
                                <div class="project-hover-info d-flex flex-wrap justify-content-between w-100 position-absolute align-items-center">
                                    <h2 class="me-3">Revolutionizing Business Models</h2>
                                    <a class="flex-shrink-0 project-link d-flex justify-content-center align-items-center" href="project-details.html">
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7422 7.71875L8.74219 12.7188C8.36719 13.125 7.71094 13.125 7.33594 12.7188C6.92969 12.3438 6.92969 11.6875 7.33594 11.3125L10.6172 8H1.05469C0.492188 8 0.0546875 7.5625 0.0546875 7C0.0546875 6.46875 0.492188 6 1.05469 6H10.6172L7.33594 2.71875C6.92969 2.34375 6.92969 1.6875 7.33594 1.3125C7.71094 0.90625 8.36719 0.90625 8.74219 1.3125L13.7422 6.3125C14.1484 6.6875 14.1484 7.34375 13.7422 7.71875Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="project-img-wrap style-two position-relative z-index-one">
								<img class="w-100" src="assets/images/project/project-page-4.png" alt="">
                                <div class="project-hover-info d-flex flex-wrap justify-content-between w-100 position-absolute align-items-center">
                                    <h2 class="me-3">Revolutionizing Business Models</h2>
                                    <a class="flex-shrink-0 project-link d-flex justify-content-center align-items-center" href="project-details.html">
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7422 7.71875L8.74219 12.7188C8.36719 13.125 7.71094 13.125 7.33594 12.7188C6.92969 12.3438 6.92969 11.6875 7.33594 11.3125L10.6172 8H1.05469C0.492188 8 0.0546875 7.5625 0.0546875 7C0.0546875 6.46875 0.492188 6 1.05469 6H10.6172L7.33594 2.71875C6.92969 2.34375 6.92969 1.6875 7.33594 1.3125C7.71094 0.90625 8.36719 0.90625 8.74219 1.3125L13.7422 6.3125C14.1484 6.6875 14.1484 7.34375 13.7422 7.71875Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="project-img-wrap style-two position-relative z-index-one">
								<img class="w-100" src="assets/images/project/project-page-5.png" alt="">
                                <div class="project-hover-info d-flex flex-wrap justify-content-between w-100 position-absolute align-items-center">
                                    <h2 class="me-3">Revolutionizing Business Models</h2>
                                    <a class="flex-shrink-0 project-link d-flex justify-content-center align-items-center" href="project-details.html">
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7422 7.71875L8.74219 12.7188C8.36719 13.125 7.71094 13.125 7.33594 12.7188C6.92969 12.3438 6.92969 11.6875 7.33594 11.3125L10.6172 8H1.05469C0.492188 8 0.0546875 7.5625 0.0546875 7C0.0546875 6.46875 0.492188 6 1.05469 6H10.6172L7.33594 2.71875C6.92969 2.34375 6.92969 1.6875 7.33594 1.3125C7.71094 0.90625 8.36719 0.90625 8.74219 1.3125L13.7422 6.3125C14.1484 6.6875 14.1484 7.34375 13.7422 7.71875Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="project-img-wrap style-two position-relative z-index-one">
								<img class="w-100" src="assets/images/project/project-page-6.png" alt="">
                                <div class="project-hover-info d-flex flex-wrap justify-content-between w-100 position-absolute align-items-center">
                                    <h2 class="me-3">Revolutionizing Business Models</h2>
                                    <a class="flex-shrink-0 project-link d-flex justify-content-center align-items-center" href="project-details.html">
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7422 7.71875L8.74219 12.7188C8.36719 13.125 7.71094 13.125 7.33594 12.7188C6.92969 12.3438 6.92969 11.6875 7.33594 11.3125L10.6172 8H1.05469C0.492188 8 0.0546875 7.5625 0.0546875 7C0.0546875 6.46875 0.492188 6 1.05469 6H10.6172L7.33594 2.71875C6.92969 2.34375 6.92969 1.6875 7.33594 1.3125C7.71094 0.90625 8.36719 0.90625 8.74219 1.3125L13.7422 6.3125C14.1484 6.6875 14.1484 7.34375 13.7422 7.71875Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
							</div>
						</div>
					</div>
                </div>
            </section>

            <!-- Project End -->

