
    <header class="menu-area bg-color-black position-absolute">

        <!-- Menu -->

        <div class="menu-area bg-color-black position-absolute">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 hamburger-menu position-relative">
                        <div class="menu-logo-wrap">
                            <a href="index.html"><img src="assets/images/logo-white.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="nav-wrap d-flex justify-content-end align-items-center">
                            <div class="mainmenu text-right">
                                <ul>
                                    <li><a href="/">Accueil</a></li>
                                    <li class="has-child-menu"><a href="javascript:void(0)">Blog</a>
                                        <ul>
                                            <li><a href="/blog-classic">Blog</a></li>
                                            <li><a href="/blog-details">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child-menu"><a href="javascript:void(0)">Service</a>
                                        <ul>
                                            <li><a href="/Service">Service</a></li>
                                            <li><a href="/Service-details">Service Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child-menu"><a href="javascript:void(0)">Project</a>
                                        <ul>
                                            <li><a href="/Project">Project</a></li>
                                            <li><a href="/Project-details">Project Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child-menu"><a href="javascript:void(0)">A propos</a>
                                        <ul>
                                            <li><a href="/about-us">A propos</a></li>
                                            <li><a href="/faq">FAQ</a></li>
                                            <li><a href="/team-details">Team Details</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="/contact">Contact</a></li>
                                    
                                </ul>
                              
                            </div>
                        </div> 
                        </div>        
                    </div> 
                </div> 
            </div> 
        <!-- Menu end -->

    </header>
    <!-- Header area End -->

